<!--<p style="color: green">< notice ></p>

< content_for :title, "Photos" >

<h1>Photos</h1>

<div id="photos">
  < @photos.each  |photo| >
    < render photo >
  <  >
</div>-->
<div class="row mb-4">
  <div class="col-md-6 offset-md-3">
    <h1 class="display-4">
      feed
    </h1>

    <p class="lead text-muted">posts by people you follow</p>
  </div>
  <div id="photos">
  <% @user.own_photos.each do |photo| %>
    <%= render "photos/photo", photo: photo %>
  <% end %>
  </div>
</div>
